
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Table-padding {
  padding: 20px;
}

.Grid-navbar-padding {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.Segment-navbar-padding {
  background-color: #FFFFFF !important;
  padding: 1 rem 1rem !important;
}

.Segment-navbar-padding1 {
  background-color: #4C4C4E !important;
  padding: .4rem 1rem !important;
}

.Grid-main-padding {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.Header-navbar {
  padding: 2rem !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}